<table *ngIf="coofes.length >= 0" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cofee of coofes; index as i">
            <th scope="row">{{i}}</th>
            <td>{{cofee.nombre}}</td>
            <td>{{cofee.tipo}}</td>
            <td>{{cofee.region}}</td>
        </tr>
    </tbody>
</table> 

<p>Total de café de origen: {{this.typeOrigin.length}}</p>
<p>Total café blend: {{this.typeBlend.length}}</p>

<div *ngIf="coofes.length == 0"> 
    <p>loading data</p>
</div>